<div class="container-fluid custom-dialog modal-content">
  <div class="modal-content">
    <div class="modal-header">
      <h2 mat-dialog-title>Add</h2>
    </div>
    <mat-dialog-content class="mat-typography p-2 m-lg-2">

      <div class="row top-row">
        <div class="col-sm-3 d-flex align-content-center">
          <input type="radio" class="form-check-input m-lg-2" name="select" id="Parameter"
            (click)="changeValue($event, 'Parameter')" checked>
          <label for="Parameter" class="p-1">Parameter</label>
        </div>
        <div class="col-sm-3 d-flex align-content-center">
          <input type="radio" class="form-check-input m-lg-2" name="select" id="Benchmark"
            (click)="changeValue($event, 'Benchmark')">
          <label for="Benchmark" class="p-1">Benchmark Comparison</label>
        </div>
        <div class="col-sm-3 d-flex align-content-center">
          <input type="radio" class="form-check-input m-lg-2" id="Spend" name="select"
            (click)="changeValue($event, 'Spend')">
          <label for="Spend" class="p-1">Spend</label>
        </div>
        <div class="col-sm-3 d-flex align-content-center">
          <input type="radio" class="form-check-input m-lg-2" id="KPI" name="select"
            (click)="changeValue($event, 'KPI')">
          <label for="KPI" class="p-1">KPI</label>
        </div>
      </div>

      @if(radioValue=='Parameter'){
      <div class="col-sm-12">
        <div class="col-sm-12">
          <label>Facility</label>
          <select class="form-select" [(ngModel)]="PFacility"
            (change)="updateFormData('Facility', PFacility)">
            <option value="" class="" selected="selected">Select</option>
            <option label="Test Facility" value="number:1">Test Facility</option>
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Device</label>
          <select class="form-select" [(ngModel)]="PDevice" (change)="updateFormData('Device', PDevice)">
            <option value="" class="" selected="selected">Select</option>
            <input type="text" class="form-check-input">
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Parameter</label>
          <ng-multiselect-dropdown
          placeholder="select Parameter" 
          [settings]="dropdownsettings"
          [data]="finalParameters"
          [(ngModel)]= 'selectedParameter'
          (ngModelChange)="updateFormData('selectedParameter',$event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Graph Type</label>
          <select class="form-select" [(ngModel)]="PGraphType" (change)="updateFormData('Graph Type', PGraphType)">
            <option value="" class="form-select" style="display: none;" selected="selected">Select</option>
            <option value="Line">Line</option>
            <option value="Area">Area</option>
            <option value="Bar">Bar</option>
            <option value="Pie">Pie</option>
            <option value="Donut">Donut</option>
            <option value="Heatmap">Heatmap</option>
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="">Plot Axis</label>
          <select name="" id="" class="form-select" [(ngModel)]="PPlotAxis" (change)="updateFormData('Plot Axis', PPlotAxis)">
            <option value="" style="display:none;" class="" selected="selected">Select</option>
            <option value="Primary Y (Y1)">Primary Y (Y1)</option>
            <option value="Secondary Y (Y2)">Secondary Y (Y2)</option>
          </select>
        </div>
      </div>
      }@else if (radioValue==='Benchmark') {
      <div class="col-sm-12">
        <div class="col-sm-12">
          <label>Facility</label>
          <select class="form-select" [(ngModel)]="BFacility" (change)="updateFormData('Facility', BFacility)">
            <option value="" class="" style="display: none;" selected="selected">Select</option>
            <option label="Test Facility" value="number:1">Test Facility</option>
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Device</label>
          <select class="form-select" [(ngModel)]="BDevice" (change)="updateFormData('Facility', BDevice)">
            <option value="" class="" style="display: none;" selected="selected">Select</option>
            <input type="text" class="form-check-input">
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Benchmark (ploted as line graph)</label>
          <select class="form-select" [(ngModel)]="BBenchMark" (change)="updateFormData('Benchmark', BBenchMark)">
            <option value="" class="" style="display: none;" selected="selected">Select</option>
            <input type="text" class="form-check-input">
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="">Benchmark Plot Axis</label>
          <select name="" id="" class="form-select" [(ngModel)]="BPlotAxis" (change)="updateFormData('Benchmark PA', BPlotAxis)">
            <option value="Primary Y (Y1)">Primary Y (Y1)</option>
            <option value="Secondary Y (Y2)">Secondary Y (Y2)</option>
          </select>
        </div>
      </div>
      }@else if (radioValue==='Spend') {
      <div class="col-sm-12">
        <div class="col-sm-12">
          <label>Facility</label>
          <select class="form-select" [(ngModel)]="SFacility" (change)="updateFormData('Facility', SFacility)">
            <option value="" class="" style="display: none;"  selected="selected">Select</option>
            <option label="Test Facility" value="number:1">Test Facility</option>
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Device</label>
          <select class="form-select" [(ngModel)]="SDevice" (change)="updateFormData('Device', SDevice)">
            <option value="" class="" style="display: none;" selected="selected">Select</option>
            <input type="text" class="form-check-input">
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Parameter</label>
          <select class="form-select" [(ngModel)]="SParameter" (change)="updateFormData('Parameter', SParameter)">
            <option value="" class="" selected="selected">Select</option>
            <input type="text" class="form-check-input">
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label>Graph Type</label>
          <select class="form-select" [(ngModel)]="SGraphType" (change)="updateFormData('Graph Type', SGraphType)">
            <option value="" class="" selected="selected">Select</option>
            <option value="Line">Line</option>
            <option value="Area">Area</option>
            <option value="Bar">Bar</option>
            <option value="Pie">Pie</option>
            <option value="Donut">Donut</option>
            <option value="Heatmap">Heatmap</option>
          </select>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="">Plot Axis</label>
          <select name="" id="" class="form-select" [(ngModel)]="SPlotAxis" (change)="updateFormData('Plot Axis', SPlotAxis)">
            <option value="Primary Y (Y1)">Primary Y (Y1)</option>
            <option value="Secondary Y (Y2)">Secondary Y (Y2)</option>
          </select>
        </div>
      </div>
      }@else if (radioValue==='KPI') {
      <div class="col-sm-12">
        <label>Facility</label>
        <select class="form-select" [(ngModel)]="KFacility" (change)="updateFormData('Facility', KFacility)">
          <option value="" class="" selected="selected">Select</option>
          <option label="Test Facility" value="number:1">Test Facility</option>
        </select>
      </div>
      <div class="col-sm-12">
        <label>KPI</label>
        <select class="form-select" [(ngModel)]="Kpi" (change)="updateFormData('KPI', Kpi)">
          <option value="" class="" selected="selected">Select</option>
        </select>
      </div>
      }
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="btn btn-dark m-2">Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary">Add</button>
    </mat-dialog-actions>

  </div>
</div>